.banner {
  width: 100%;
  object-fit: contain;
}

.bannerContainer {
  position: relative;
  width: 100%;
}

.bannerTitle {
  color: var(--invert-color);
  position: absolute;
  font-size: 2.5rem;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  width: max-content;
}